{% extends 'base.html'%}
{% block styles%}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link
    href="https://fonts.googleapis.com/css?family=Josefin+Sans|Kaushan+Script|Marck+Script|Merienda|Monoton&display=swap"
    rel="stylesheet">
{% endblock styles%}

{% block content %}

<div class="jumbotron">
    <h1>{{user.username| capitalize}}'s Profile</h1>
</div>
<div class="container">
    <div class="row styled">
        <div class="col-md-6" style="margin-top: 40px !important;">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <!-- Displaying profile photo -->
                    {% if user.profile_pic_path %}
                    <img width="400px" src="{{url_for('static',filename=user.profile_pic_path)}}" alt=""
                        class="img-thumbnail pic">
                    {%else%}
                    <p>No profile picture</p>
                    {% endif %}
                    <!-- Displaying user info -->
                    <h3 style="text-align: center;"> {{user.username| capitalize}} </h3>
                    <!--Displaying user bio-->
                    {% if user.bio %}
                    <p style="text-align: center;"> {{user.bio}}</p>
                    {%else%}
                    <p> {{user.username| capitalize}} has no bio </p>
                    {% endif %}

                </div>
            </div>
            <div style="width: 50rem;">
                {% if user == current_user %}
                <form action="{{url_for('main.update_pic',usernam=user.username)}}" method="post"
                    enctype="multipart/form-data">

                    <input type="file" name="photo" class="form-control" required>
                    <input type="submit">
                </form>

                <a href="{{url_for('main.update_profile',usernam=user.username)}}">Edit profile</a>
                {% endif %}
            </div>

        </div>



        <div class="col-md-6">
            <h1 class="text-center">Blogs</h1>
            <div class="card-group">
                {% if blogs  %}
                {% for my_blogs in blogs %}

                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            {{my_blogs.title}}
                        </div>
                        <div class="card-text">
                            {{my_blogs.blog}}
                        </div>
                        <div class="card-footer">
                            {{my_blogs.author}} <br>
                            <a style="width: 50px;" href="/comment/{{my_blogs.id}}">
                                <img style="width: 50px;"
                                    src="https://icon-library.net/images/instagram-comment-icon/instagram-comment-icon-16.jpg"
                                    alt="">
                            </a>
                            <a style="width: 50px;" href="/update/{{my_blogs.id}}">
                                <img style="width: 50px;"
                                    src="https://icon-library.net/images/edit-pencil-icon/edit-pencil-icon-21.jpg"
                                    alt="">
                            </a>
                            <a style="width: 50px;" href="/delete/ {{my_blogs.id}} ">
                                <img style="width: 50px;"
                                    src="https://www.pngkey.com/png/detail/203-2036092_trash-icon-delete-image-icon-small.png"
                                    alt="Delete blog">
                            </a> <br>
                            <a href="/comment/{{my_blogs.id}}">
                                comments for {{my_blogs.title}}
                            </a>

                        </div>
                    </div>
                </div>
                {%  endfor %}

                {% else %}
                {{user.username}} has not yet blogged.
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url("https://images.assetsdelivery.com/compings_v2/alexmak72427/alexmak724271501/alexmak72427150100122.jpg");
        font-size: 150%;
    }

    /* .styled{
            margin-top: 10px;
        } */
    .jumbotron {
        background-color: transparent;
        text-align: center;
        padding-top: 5%;
    }

    .pic {
        border-radius: 50%;
        width: 150px !important;
        cursor: pointer;
        margin-left: 150px !important;
    }
</style>

{% endblock %}