{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    <div class="row"  style="margin-top: 15em !important";>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{wtf.quick_form(registration_form)}}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<style>

  body{
        background-image: url("https://images.assetsdelivery.com/compings_v2/alexmak72427/alexmak724271501/alexmak72427150100122.jpg")

    }

    .jumbotron{
        background-color: transparent;
        text-align: center;
        padding-top: 5%;
    }



</style>

{% endblock %}