<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
​
<body>
    <div class="container">
        <p>Hello {{current_user.username}},</p>
        <p>We have received your subscription and it has been approved.</p>
        <p>You will be receiving emails whenever a new blog is  posted so as to keep track of the latest blogs.</p>
        <p>from: Blog Logs</p>
        <p>for more info or support kindly contact us at bloglogs@blogs.com</p>
    </div>
</body>
​
</html>