{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 5em !important;">
        <div class="jumbotron">
            <h3>Write your comment here</h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ wtf.quick_form(commentForm) }}
        </div>
        <div class="col-md-2"></div>

    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 10em !important;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% for my_comment in comment %}
            {{my_comment.comment}}
            <a href="/delete_comment/ {{my_comment.id}}   ">Delete Comment</a> <br>

            {% endfor %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<style>
 body{
        background-image: url("https://images.assetsdelivery.com/compings_v2/alexmak72427/alexmak724271501/alexmak72427150100122.jpg")

    }
.jumbotron{
    padding-top: 5%;
    text-align: center;
    background-color: transparent;
}

</style>
{% endblock %}