{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
{{super()}}

<link href="https://fonts.googleapis.com/css?family=Calligraffitti|Kalam|Lacquer&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock styles%}
{% block content %}
<div class="jumbotron">

    <img style="width:350px; margin-top: 15em;"
        src="https://png.pngtree.com/png-vector/20190324/ourlarge/pngtree-flat-writing--icon--vector-png-image_862741.jpg"
        alt="logo">

    <div class="card" style="width: 50rem; margin-left: 65em; margin-top: 50px;">
        <div class="card-body">
            {% for quote in quotesapp %}
            <h2>
                {{quote.quote}} once said;
            </h2>

            <h2>
                {{quote.author}}
            </h2>
            <h4>
                <b> Author:</b>{{quote.quote}}</h4>
            </h4>
            {% endfor %}
        </div>
    </div>

</div>




<!-- <div class="content">
        <h1 class="first">WELCOME TO BLOG LOG</h1>
        <p>You can read blogs and upload some of your own</p>
        <p>If you need to make any changes or delete a blog,you can do so,in the profile.</p>
    </div> -->

<h1 class="centered" style="margin-bottom: 40px;">FEATURED BLOGS</h1>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card-deck">
                {% for my_blog in blogs %}
                <div class="col-md-8">

                    <div class="card bg-light mb-3 styled">
                        <div class="card-body">
                            <div class="card-title">
                                <h1>
                                    {{my_blog.title}}
                                </h1>

                                <div class="card-text">
                                    <h3>
                                        {{my_blog.blog}}

                                    </h3>



                                    <div class="card-footer">
                                        Created by: {{my_blog.author}} <br>
                                        <button> <a href="/comment/{{my_blog.id}}">
                                                <img width="20px"
                                                    src="https://icon-library.net/images/instagram-comment-icon/instagram-comment-icon-16.jpg"
                                                    alt="">
                                            </a> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class=" subscribed">
                        <h5 class="card-title">Subscribe to our newsletter</h5>
                        {{wtf.quick_form(SubscriberForm)}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<style>
    body {
        background-image: url("https://images.assetsdelivery.com/compings_v2/alexmak72427/alexmak724271501/alexmak72427150100122.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* color: white; */
        font-family: kalam;

    }

    .subdcribed {
        background-color: white;
        color: black;
        float: right;


    }

    .index {
        height: 70vh;
        font-size: 150%;
    }

    .padded {
        margin: 5%;
        margin-top: 3px;
    }

    /* .quotes{
        margin: 2%;
    } */

    .jumbotron {
        background-color: transparent;
        text-align: center;
        padding-top: 0%;
    }

    .first {
        font-family: Lacquer;
    }

    .content {
        margin-left: 30px;
        font-size: 180%;
    }

    .centered {
        text-align: center;
        text-decoration: underline;
    }
</style>
{% endblock %}