{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="jumbotron">
    <h1>Add Your Blog Here</h1>
</div>
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {{wtf.quick_form(BlogForm)}}
    </div>
    <div class="col-md-3"></div>
</div>
<style>
    body{
        background-image: url("https://images.assetsdelivery.com/compings_v2/alexmak72427/alexmak724271501/alexmak72427150100122.jpg")

    }
.jumbotron{
    padding-top: 5%;
    text-align: center;
    background-color: transparent;
}

</style>
{% endblock %}